<div class="formContainer">
  <!-- <center> -->
  <h2 style="color:black;font-size:25px;text-align:center;">Contact us</h2>
  <!-- </center> -->
  <form action="https://formspree.io/contact@nomadai.org" method="POST">
    <label for="fname">Email</label>
    <input type="text" id="fname" name="email" placeholder="Your e-mail">
    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Your message.." style="height:200px"></textarea>
    <input type="submit" value="Submit">
  </form>
</div>
