<style>
  *, *:before, *:after{
      margin: 0;
      padding: 0;
      direction: ltr;
      /* box-sizing: border-box; */
  }
  /* html{
    font-size: 9px;
    line-height: 1.8;
  } */
  .ArticleCopy {
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    width: 100%;
    margin:0 auto;
    /* border: 1px solid #ddd; */
    padding: 1rem;
    line-height: 1.66;
    font-size: 16px;
  }
  .ArticleCopy p {
      text-rendering: optimizeLegibility;
  }
  .ArticleCopy blockquote {
      /* border-radius: 3px; */
      position: relative;  /*  <--- */
      font-style: italic;
      text-align: center;
      padding: 1rem 1.2rem;
      width: 100%;  /* create space for the quotes */
      color: #4a4a4a;
      margin: 1rem auto 2rem;
      color: #4a4a4a;
      background: white;
  }


.ratedStar {
  font-size:25px;
  color: #ff9900;
}
.notRatedStar {
  font-size:30px;
  color:#ccc;
}
.reviewTitle {
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: italic;
  font-size:16px;
  color: black;
  font-weight: bold;
  text-align: left;
}
.reviewAuthor {
  font-style: normal;
  line-height: 2;
  margin: 0.1rem;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-size:16px;
  color: gray;
  /* font-weight: gray; */
  text-align: left;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: center;
  padding: 30px;
  padding-top: 30px;
  padding-bottom: 0px;
}

.column {
  float: center;
  width: 33%;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 0px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
  .column {
    width: 100%;
  }
}


</style>


<div class="row">
  <div class="column">
    <section class="ArticleCopy">
      <blockquote>
        <p align="left">
        <span class="ratedStar">★★★★★</span>
        </p>
        <p class="reviewAuthor">
        Costa Rica backpacker – Sep 18, 2019. App Store
        </p>
        <p class="reviewTitle">
        Simple to use and remarkably accurate!
        </p>
        <p>"I play in a band at work and we’ve started using the app to find the chords from songs we’d like to play from everyone’s playlists. The tool is simple to use and has proved to be remarkably accurate! This is much easier than having to browse through multiple websites that don’t always have the right version of a song you’d like to play... Well done with this one!"</p>
      </blockquote>
    </section>
  </div>
  <div class="column">
    <section class="ArticleCopy">
      <blockquote>
        <p align="left">
        <span class="ratedStar">★★★★★</span>
        </p>
        <p class="reviewAuthor">
        Ethonal13 – Nov 2, 2019. App Store
        </p>
        <p class="reviewTitle">
        AMAZING
        </p>
        <p>"I hope they add more chords for the app to recognized because it’s a lot of fun to play random strings and see what it is.
"</p>
      </blockquote>
    </section>
  </div>
  <div class="column">
    <section class="ArticleCopy">
      <blockquote>
        <p align="left">
        <span class="ratedStar">★★★★★</span>
        </p>
        <p class="reviewAuthor">
        Rig_Zen – Nov 7, 2019. App Store
        </p>
        <p class="reviewTitle">
        Vraiment top!
        </p>
        <p>"Appli vraiment géniale pour déchiffrer nos morceaux de musique préférés et avoir accès aux accords instantanément! Parfait pour apprendre à jouer au piano des morceaux dont on ne peut pas trouver les partitions si facilement."</p>
      </blockquote>
    </section>
  </div>
</div>
